@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-field {
        @apply p-4 border rounded focus:outline-none focus:border-slate-600 border-slate-400;
    }
    .label-radio {
        @apply grid flex-1 py-2 rounded cursor-pointer place-items-center;
    }
}

body {
    background-color: #E2E8F0;
    
}

button, a {
    -webkit-tap-highlight-color: transparent
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.select-none {
    user-select: none;
}